:root {
  --vscode-editor-background: #000c18;
  --vscode-editor-foreground: #6688cc;
  --vscode-focusBorder: #596f99;
  --vscode-input-background: #181f2f;
  --vscode-inputOption-activeBorder: #1d4a87;
  --vscode-inputValidation-infoBorder: #384078;
  --vscode-inputValidation-infoBackground: #051336;
  --vscode-inputValidation-warningBackground: #5b7e7a;
  --vscode-inputValidation-warningBorder: #5b7e7a;
  --vscode-inputValidation-errorBackground: #a22d44;
  --vscode-inputValidation-errorBorder: #ab395b;
  --vscode-badge-background: #0063a5;
  --vscode-progressBar-background: #0063a5;
  --vscode-dropdown-background: #181f2f;
  --vscode-button-background: #2b3c5d;
  --vscode-list-activeSelectionBackground: #08286b;
  --vscode-quickInputList-focusBackground: #08286b;
  --vscode-list-hoverBackground: #061940;
  --vscode-list-inactiveSelectionBackground: #152037;
  --vscode-list-dropBackground: #041d52;
  --vscode-list-highlightForeground: #0063a5;
  --vscode-scrollbar-shadow: #515e91aa;
  --vscode-scrollbarSlider-activeBackground: #3b3f5188;
  --vscode-scrollbarSlider-background: #1f2230aa;
  --vscode-scrollbarSlider-hoverBackground: #3b3f5188;
  --vscode-editorWidget-background: #262641;
  --vscode-editorCursor-foreground: #ddbb88;
  --vscode-editorWhitespace-foreground: #103050;
  --vscode-editor-lineHighlightBackground: #082050;
  --vscode-editor-selectionBackground: #770811;
  --vscode-editorIndentGuide-background: #002952;
  --vscode-editorIndentGuide-activeBackground: #204972;
  --vscode-editorHoverWidget-background: #000c38;
  --vscode-editorHoverWidget-border: #004c18;
  --vscode-editorLineNumber-foreground: #406385;
  --vscode-editorLineNumber-activeForeground: #80a2c2;
  --vscode-editorMarkerNavigation-background: #060621;
  --vscode-editorMarkerNavigationError-background: #ab395b;
  --vscode-editorMarkerNavigationWarning-background: #5b7e7a;
  --vscode-editorLink-activeForeground: #0063a5;
  --vscode-editor-findMatchHighlightBackground: #eeeeee44;
  --vscode-peekViewResult-background: #060621;
  --vscode-peekViewEditor-background: #10192c;
  --vscode-peekViewTitle-background: #10192c;
  --vscode-peekView-border: #2b2b4a;
  --vscode-peekViewEditor-matchHighlightBackground: #eeeeee33;
  --vscode-peekViewResult-matchHighlightBackground: #eeeeee44;
  --vscode-ports-iconRunningProcessForeground: #80a2c2;
  --vscode-diffEditor-insertedTextBackground: #31958a55;
  --vscode-diffEditor-removedTextBackground: #892f4688;
  --vscode-minimap-selectionHighlight: #750000;
  --vscode-titleBar-activeBackground: #10192c;
  --vscode-editorGroup-border: #2b2b4a;
  --vscode-editorGroup-dropBackground: #25375daa;
  --vscode-editorGroupHeader-tabsBackground: #1c1c2a;
  --vscode-tab-border: #2b2b4a;
  --vscode-tab-inactiveBackground: #10192c;
  --vscode-tab-lastPinnedBorder: #2b3c5d;
  --vscode-activityBar-background: #051336;
  --vscode-panel-border: #2b2b4a;
  --vscode-sideBar-background: #060621;
  --vscode-sideBarSectionHeader-background: #10192c;
  --vscode-statusBar-background: #10192c;
  --vscode-statusBar-noFolderBackground: #10192c;
  --vscode-statusBar-debuggingBackground: #10192c;
  --vscode-statusBarItem-remoteBackground: #0063a5;
  --vscode-statusBarItem-prominentBackground: #0063a5;
  --vscode-statusBarItem-prominentHoverBackground: #0063a5dd;
  --vscode-debugToolBar-background: #051336;
  --vscode-debugExceptionWidget-background: #051336;
  --vscode-debugExceptionWidget-border: #ab395b;
  --vscode-pickerGroup-border: #596f99;
  --vscode-pickerGroup-foreground: #596f99;
  --vscode-extensionButton-prominentBackground: #5f8b3b;
  --vscode-extensionButton-prominentHoverBackground: #5f8b3bbb;
  --vscode-terminal-ansiBlack: #111111;
  --vscode-terminal-ansiRed: #ff9da4;
  --vscode-terminal-ansiGreen: #d1f1a9;
  --vscode-terminal-ansiYellow: #ffeead;
  --vscode-terminal-ansiBlue: #bbdaff;
  --vscode-terminal-ansiMagenta: #ebbbff;
  --vscode-terminal-ansiCyan: #99ffff;
  --vscode-terminal-ansiWhite: #cccccc;
  --vscode-terminal-ansiBrightBlack: #333333;
  --vscode-terminal-ansiBrightRed: #ff7882;
  --vscode-terminal-ansiBrightGreen: #b8f171;
  --vscode-terminal-ansiBrightYellow: #ffe580;
  --vscode-terminal-ansiBrightBlue: #80baff;
  --vscode-terminal-ansiBrightMagenta: #d778ff;
  --vscode-terminal-ansiBrightCyan: #78ffff;
  --vscode-terminal-ansiBrightWhite: #ffffff;
}
