:root {
  --focusBorder: #bbdaff;
  --errorForeground: #a92049;
  --input--background: #001733;
  --dropdown--background: #001733;
  --quickInputList--focusBackground: #ffffff60;
  --list--activeSelectionBackground: #ffffff60;
  --list--inactiveSelectionBackground: #ffffff40;
  --list--hoverBackground: #ffffff30;
  --list--highlightForeground: #bbdaff;
  --pickerGroup--foreground: #bbdaff;
  --editor--background: #002451;
  --editor--foreground: #ffffff;
  --editor--selectionBackground: #003f8e;
  --minimap--selectionHighlight: #003f8e;
  --editor--lineHighlightBackground: #00346e;
  --editorLineNumber--activeForeground: #949494;
  --editorCursor--foreground: #ffffff;
  --editorWhitespace--foreground: #404f7d;
  --editorWidget--background: #001c40;
  --editorHoverWidget--background: #001c40;
  --editorHoverWidget--border: #ffffff44;
  --editorGroup--border: #404f7d;
  --editorGroupHeader--tabsBackground: #001733;
  --editorGroup--dropBackground: #25375daa;
  --peekViewResult--background: #001c40;
  --tab--inactiveBackground: #001c40;
  --tab--lastPinnedBorder: #007acc80;
  --debugToolBar--background: #001c40;
  --titleBar--activeBackground: #001126;
  --statusBar--background: #001126;
  --statusBarItem--remoteBackground: #0e639c;
  --ports--iconRunningProcessForeground: #bbdaff;
  --statusBar--noFolderBackground: #001126;
  --statusBar--debuggingBackground: #001126;
  --activityBar--background: #001733;
  --progressBar--background: #bbdaffcc;
  --badge--background: #bbdaffcc;
  --badge--foreground: #001733;
  --sideBar--background: #001c40;
  --terminal--ansiBlack: #111111;
  --terminal--ansiRed: #ff9da4;
  --terminal--ansiGreen: #d1f1a9;
  --terminal--ansiYellow: #ffeead;
  --terminal--ansiBlue: #bbdaff;
  --terminal--ansiMagenta: #ebbbff;
  --terminal--ansiCyan: #99ffff;
  --terminal--ansiWhite: #cccccc;
  --terminal--ansiBrightBlack: #333333;
  --terminal--ansiBrightRed: #ff7882;
  --terminal--ansiBrightGreen: #b8f171;
  --terminal--ansiBrightYellow: #ffe580;
  --terminal--ansiBrightBlue: #80baff;
  --terminal--ansiBrightMagenta: #d778ff;
  --terminal--ansiBrightCyan: #78ffff;
  --terminal--ansiBrightWhite: #ffffff;
}
