:root {
  --vscode-focusBorder: #bbdaff;
  --vscode-errorForeground: #a92049;
  --vscode-input-background: #001733;
  --vscode-dropdown-background: #001733;
  --vscode-quickInputList-focusBackground: #ffffff60;
  --vscode-list-activeSelectionBackground: #ffffff60;
  --vscode-list-inactiveSelectionBackground: #ffffff40;
  --vscode-list-hoverBackground: #ffffff30;
  --vscode-list-highlightForeground: #bbdaff;
  --vscode-pickerGroup-foreground: #bbdaff;
  --vscode-editor-background: #002451;
  --vscode-editor-foreground: #ffffff;
  --vscode-editor-selectionBackground: #003f8e;
  --vscode-minimap-selectionHighlight: #003f8e;
  --vscode-editor-lineHighlightBackground: #00346e;
  --vscode-editorLineNumber-activeForeground: #949494;
  --vscode-editorCursor-foreground: #ffffff;
  --vscode-editorWhitespace-foreground: #404f7d;
  --vscode-editorWidget-background: #001c40;
  --vscode-editorHoverWidget-background: #001c40;
  --vscode-editorHoverWidget-border: #ffffff44;
  --vscode-editorGroup-border: #404f7d;
  --vscode-editorGroupHeader-tabsBackground: #001733;
  --vscode-editorGroup-dropBackground: #25375daa;
  --vscode-peekViewResult-background: #001c40;
  --vscode-tab-inactiveBackground: #001c40;
  --vscode-tab-lastPinnedBorder: #007acc80;
  --vscode-debugToolBar-background: #001c40;
  --vscode-titleBar-activeBackground: #001126;
  --vscode-statusBar-background: #001126;
  --vscode-statusBarItem-remoteBackground: #0e639c;
  --vscode-ports-iconRunningProcessForeground: #bbdaff;
  --vscode-statusBar-noFolderBackground: #001126;
  --vscode-statusBar-debuggingBackground: #001126;
  --vscode-activityBar-background: #001733;
  --vscode-progressBar-background: #bbdaffcc;
  --vscode-badge-background: #bbdaffcc;
  --vscode-badge-foreground: #001733;
  --vscode-sideBar-background: #001c40;
  --vscode-terminal-ansiBlack: #111111;
  --vscode-terminal-ansiRed: #ff9da4;
  --vscode-terminal-ansiGreen: #d1f1a9;
  --vscode-terminal-ansiYellow: #ffeead;
  --vscode-terminal-ansiBlue: #bbdaff;
  --vscode-terminal-ansiMagenta: #ebbbff;
  --vscode-terminal-ansiCyan: #99ffff;
  --vscode-terminal-ansiWhite: #cccccc;
  --vscode-terminal-ansiBrightBlack: #333333;
  --vscode-terminal-ansiBrightRed: #ff7882;
  --vscode-terminal-ansiBrightGreen: #b8f171;
  --vscode-terminal-ansiBrightYellow: #ffe580;
  --vscode-terminal-ansiBrightBlue: #80baff;
  --vscode-terminal-ansiBrightMagenta: #d778ff;
  --vscode-terminal-ansiBrightCyan: #78ffff;
  --vscode-terminal-ansiBrightWhite: #ffffff;
}
