:root {
  --vscode-input-background: #51412c;
  --vscode-dropdown-background: #51412c;
  --vscode-editor-background: #221a0f;
  --vscode-editor-foreground: #d3af86;
  --vscode-focusBorder: #a57a4c;
  --vscode-list-highlightForeground: #e3b583;
  --vscode-list-activeSelectionBackground: #7c5021;
  --vscode-list-hoverBackground: #7c502166;
  --vscode-quickInputList-focusBackground: #7c5021aa;
  --vscode-list-inactiveSelectionBackground: #645342;
  --vscode-pickerGroup-foreground: #e3b583;
  --vscode-pickerGroup-border: #e3b583;
  --vscode-inputOption-activeBorder: #a57a4c;
  --vscode-selection-background: #84613daa;
  --vscode-editor-selectionBackground: #84613daa;
  --vscode-minimap-selectionHighlight: #84613daa;
  --vscode-editorWidget-background: #131510;
  --vscode-editorHoverWidget-background: #221a14;
  --vscode-editorGroupHeader-tabsBackground: #131510;
  --vscode-editorLineNumber-activeForeground: #adadad;
  --vscode-tab-inactiveBackground: #131510;
  --vscode-tab-lastPinnedBorder: #51412c;
  --vscode-titleBar-activeBackground: #423523;
  --vscode-statusBar-background: #423523;
  --vscode-statusBar-debuggingBackground: #423523;
  --vscode-statusBar-noFolderBackground: #423523;
  --vscode-statusBarItem-remoteBackground: #6e583b;
  --vscode-ports-iconRunningProcessForeground: #369432;
  --vscode-activityBar-background: #221a0f;
  --vscode-activityBar-foreground: #d3af86;
  --vscode-sideBar-background: #362712;
  --vscode-menu-background: #362712;
  --vscode-menu-foreground: #cccccc;
  --vscode-editor-lineHighlightBackground: #5e452b;
  --vscode-editorCursor-foreground: #d3af86;
  --vscode-editorWhitespace-foreground: #a57a4c;
  --vscode-peekViewTitle-background: #362712;
  --vscode-peekView-border: #5e452b;
  --vscode-peekViewResult-background: #362712;
  --vscode-peekViewEditor-background: #221a14;
  --vscode-peekViewEditor-matchHighlightBackground: #84613daa;
  --vscode-button-background: #6e583b;
  --vscode-inputValidation-infoBorder: #1b60a5;
  --vscode-inputValidation-infoBackground: #2b2a42;
  --vscode-inputValidation-warningBackground: #51412c;
  --vscode-inputValidation-errorBackground: #5f0d0d;
  --vscode-inputValidation-errorBorder: #9d2f23;
  --vscode-badge-background: #7f5d38;
  --vscode-progressBar-background: #7f5d38;
}
