:root {
  --vscode-dropdown-background: #414339;
  --vscode-list-activeSelectionBackground: #75715e;
  --vscode-quickInputList-focusBackground: #414339;
  --vscode-dropdown-listBackground: #1e1f1c;
  --vscode-list-inactiveSelectionBackground: #414339;
  --vscode-list-hoverBackground: #3e3d32;
  --vscode-list-dropBackground: #414339;
  --vscode-list-highlightForeground: #f8f8f2;
  --vscode-button-background: #75715e;
  --vscode-editor-background: #272822;
  --vscode-editor-foreground: #f8f8f2;
  --vscode-selection-background: #878b9180;
  --vscode-editor-selectionHighlightBackground: #575b6180;
  --vscode-editor-selectionBackground: #878b9180;
  --vscode-minimap-selectionHighlight: #878b9180;
  --vscode-editor-wordHighlightBackground: #4a4a7680;
  --vscode-editor-wordHighlightStrongBackground: #6a6a9680;
  --vscode-editor-lineHighlightBackground: #3e3d32;
  --vscode-editorLineNumber-activeForeground: #c2c2bf;
  --vscode-editorCursor-foreground: #f8f8f0;
  --vscode-editorWhitespace-foreground: #464741;
  --vscode-editorIndentGuide-background: #464741;
  --vscode-editorIndentGuide-activeBackground: #767771;
  --vscode-editorGroupHeader-tabsBackground: #1e1f1c;
  --vscode-editorGroup-dropBackground: #41433980;
  --vscode-tab-inactiveBackground: #34352f;
  --vscode-tab-border: #1e1f1c;
  --vscode-tab-inactiveForeground: #ccccc7;
  --vscode-tab-lastPinnedBorder: #414339;
  --vscode-widget-shadow: #00000098;
  --vscode-progressBar-background: #75715e;
  --vscode-badge-background: #75715e;
  --vscode-badge-foreground: #f8f8f2;
  --vscode-editorLineNumber-foreground: #90908a;
  --vscode-panelTitle-activeForeground: #f8f8f2;
  --vscode-panelTitle-activeBorder: #75715e;
  --vscode-panelTitle-inactiveForeground: #75715e;
  --vscode-panel-border: #414339;
  --vscode-settings-focusedRowBackground: #4143395a;
  --vscode-titleBar-activeBackground: #1e1f1c;
  --vscode-statusBar-background: #414339;
  --vscode-statusBar-noFolderBackground: #414339;
  --vscode-statusBar-debuggingBackground: #75715e;
  --vscode-statusBarItem-remoteBackground: #ac6218;
  --vscode-ports-iconRunningProcessForeground: #ccccc7;
  --vscode-activityBar-background: #272822;
  --vscode-activityBar-foreground: #f8f8f2;
  --vscode-sideBar-background: #1e1f1c;
  --vscode-sideBarSectionHeader-background: #272822;
  --vscode-menu-background: #1e1f1c;
  --vscode-menu-foreground: #cccccc;
  --vscode-pickerGroup-foreground: #75715e;
  --vscode-input-background: #414339;
  --vscode-inputOption-activeBorder: #75715e;
  --vscode-focusBorder: #75715e;
  --vscode-editorWidget-background: #1e1f1c;
  --vscode-debugToolBar-background: #1e1f1c;
  --vscode-diffEditor-insertedTextBackground: #4b661680;
  --vscode-diffEditor-removedTextBackground: #90274a70;
  --vscode-inputValidation-errorBackground: #90274a;
  --vscode-inputValidation-errorBorder: #f92672;
  --vscode-inputValidation-warningBackground: #848528;
  --vscode-inputValidation-warningBorder: #e2e22e;
  --vscode-inputValidation-infoBackground: #546190;
  --vscode-inputValidation-infoBorder: #819aff;
  --vscode-editorHoverWidget-background: #414339;
  --vscode-editorHoverWidget-border: #75715e;
  --vscode-editorSuggestWidget-background: #272822;
  --vscode-editorSuggestWidget-border: #75715e;
  --vscode-editorGroup-border: #34352f;
  --vscode-peekView-border: #75715e;
  --vscode-peekViewEditor-background: #272822;
  --vscode-peekViewResult-background: #1e1f1c;
  --vscode-peekViewTitle-background: #1e1f1c;
  --vscode-peekViewResult-selectionBackground: #414339;
  --vscode-peekViewResult-matchHighlightBackground: #75715e;
  --vscode-peekViewEditor-matchHighlightBackground: #75715e;
  --vscode-terminal-ansiBlack: #333333;
  --vscode-terminal-ansiRed: #c4265e;
  --vscode-terminal-ansiGreen: #86b42b;
  --vscode-terminal-ansiYellow: #b3b42b;
  --vscode-terminal-ansiBlue: #6a7ec8;
  --vscode-terminal-ansiMagenta: #8c6bc8;
  --vscode-terminal-ansiCyan: #56adbc;
  --vscode-terminal-ansiWhite: #e3e3dd;
  --vscode-terminal-ansiBrightBlack: #666666;
  --vscode-terminal-ansiBrightRed: #f92672;
  --vscode-terminal-ansiBrightGreen: #a6e22e;
  --vscode-terminal-ansiBrightYellow: #e2e22e;
  --vscode-terminal-ansiBrightBlue: #819aff;
  --vscode-terminal-ansiBrightMagenta: #ae81ff;
  --vscode-terminal-ansiBrightCyan: #66d9ef;
  --vscode-terminal-ansiBrightWhite: #f8f8f2;
}
