:root {
  --dropdown--background: #414339;
  --list--activeSelectionBackground: #75715e;
  --quickInputList--focusBackground: #414339;
  --dropdown--listBackground: #1e1f1c;
  --list--inactiveSelectionBackground: #414339;
  --list--hoverBackground: #3e3d32;
  --list--dropBackground: #414339;
  --list--highlightForeground: #f8f8f2;
  --button--background: #75715e;
  --editor--background: #272822;
  --editor--foreground: #f8f8f2;
  --selection--background: #878b9180;
  --editor--selectionHighlightBackground: #575b6180;
  --editor--selectionBackground: #878b9180;
  --minimap--selectionHighlight: #878b9180;
  --editor--wordHighlightBackground: #4a4a7680;
  --editor--wordHighlightStrongBackground: #6a6a9680;
  --editor--lineHighlightBackground: #3e3d32;
  --editorLineNumber--activeForeground: #c2c2bf;
  --editorCursor--foreground: #f8f8f0;
  --editorWhitespace--foreground: #464741;
  --editorIndentGuide--background: #464741;
  --editorIndentGuide--activeBackground: #767771;
  --editorGroupHeader--tabsBackground: #1e1f1c;
  --editorGroup--dropBackground: #41433980;
  --tab--inactiveBackground: #34352f;
  --tab--border: #1e1f1c;
  --tab--inactiveForeground: #ccccc7;
  --tab--lastPinnedBorder: #414339;
  --widget--shadow: #00000098;
  --progressBar--background: #75715e;
  --badge--background: #75715e;
  --badge--foreground: #f8f8f2;
  --editorLineNumber--foreground: #90908a;
  --panelTitle--activeForeground: #f8f8f2;
  --panelTitle--activeBorder: #75715e;
  --panelTitle--inactiveForeground: #75715e;
  --panel--border: #414339;
  --settings--focusedRowBackground: #4143395a;
  --titleBar--activeBackground: #1e1f1c;
  --statusBar--background: #414339;
  --statusBar--noFolderBackground: #414339;
  --statusBar--debuggingBackground: #75715e;
  --statusBarItem--remoteBackground: #ac6218;
  --ports--iconRunningProcessForeground: #ccccc7;
  --activityBar--background: #272822;
  --activityBar--foreground: #f8f8f2;
  --sideBar--background: #1e1f1c;
  --sideBarSectionHeader--background: #272822;
  --menu--background: #1e1f1c;
  --menu--foreground: #cccccc;
  --pickerGroup--foreground: #75715e;
  --input--background: #414339;
  --inputOption--activeBorder: #75715e;
  --focusBorder: #75715e;
  --editorWidget--background: #1e1f1c;
  --debugToolBar--background: #1e1f1c;
  --diffEditor--insertedTextBackground: #4b661680;
  --diffEditor--removedTextBackground: #90274a70;
  --inputValidation--errorBackground: #90274a;
  --inputValidation--errorBorder: #f92672;
  --inputValidation--warningBackground: #848528;
  --inputValidation--warningBorder: #e2e22e;
  --inputValidation--infoBackground: #546190;
  --inputValidation--infoBorder: #819aff;
  --editorHoverWidget--background: #414339;
  --editorHoverWidget--border: #75715e;
  --editorSuggestWidget--background: #272822;
  --editorSuggestWidget--border: #75715e;
  --editorGroup--border: #34352f;
  --peekView--border: #75715e;
  --peekViewEditor--background: #272822;
  --peekViewResult--background: #1e1f1c;
  --peekViewTitle--background: #1e1f1c;
  --peekViewResult--selectionBackground: #414339;
  --peekViewResult--matchHighlightBackground: #75715e;
  --peekViewEditor--matchHighlightBackground: #75715e;
  --terminal--ansiBlack: #333333;
  --terminal--ansiRed: #c4265e;
  --terminal--ansiGreen: #86b42b;
  --terminal--ansiYellow: #b3b42b;
  --terminal--ansiBlue: #6a7ec8;
  --terminal--ansiMagenta: #8c6bc8;
  --terminal--ansiCyan: #56adbc;
  --terminal--ansiWhite: #e3e3dd;
  --terminal--ansiBrightBlack: #666666;
  --terminal--ansiBrightRed: #f92672;
  --terminal--ansiBrightGreen: #a6e22e;
  --terminal--ansiBrightYellow: #e2e22e;
  --terminal--ansiBrightBlue: #819aff;
  --terminal--ansiBrightMagenta: #ae81ff;
  --terminal--ansiBrightCyan: #66d9ef;
  --terminal--ansiBrightWhite: #f8f8f2;
}
