:root {
  --focusBorder: #d3af86;
  --input--background: #ddd6c1;
  --input--foreground: #586e75;
  --input--placeholderForeground: #586e75aa;
  --inputOption--activeBorder: #d3af86;
  --badge--background: #b58900aa;
  --progressBar--background: #b58900;
  --dropdown--background: #eee8d5;
  --dropdown--border: #d3af86;
  --button--background: #ac9d57;
  --selection--background: #878b9180;
  --list--activeSelectionBackground: #dfca88;
  --list--activeSelectionForeground: #6c6c6c;
  --quickInputList--focusBackground: #dfca8866;
  --list--hoverBackground: #dfca8844;
  --list--inactiveSelectionBackground: #d1cbb8;
  --list--highlightForeground: #b58900;
  --editor--background: #fdf6e3;
  --editor--foreground: #657b83;
  --notebook--cellEditorBackground: #f7f0e0;
  --editorWidget--background: #eee8d5;
  --editorCursor--foreground: #657b83;
  --editorWhitespace--foreground: #586e7580;
  --editor--lineHighlightBackground: #eee8d5;
  --editor--selectionBackground: #eee8d5;
  --minimap--selectionHighlight: #eee8d5;
  --editorIndentGuide--background: #586e7580;
  --editorIndentGuide--activeBackground: #081e2580;
  --editorHoverWidget--background: #ccc4b0;
  --editorLineNumber--activeForeground: #567983;
  --peekViewResult--background: #eee8d5;
  --peekViewEditor--background: #fffbf2;
  --peekViewTitle--background: #eee8d5;
  --peekView--border: #b58900;
  --peekViewEditor--matchHighlightBackground: #7744aa40;
  --titleBar--activeBackground: #eee8d5;
  --editorGroup--border: #ddd6c1;
  --editorGroup--dropBackground: #ddd6c1aa;
  --editorGroupHeader--tabsBackground: #d9d2c2;
  --tab--border: #ddd6c1;
  --tab--activeBackground: #fdf6e3;
  --tab--inactiveForeground: #586e75;
  --tab--inactiveBackground: #d3cbb7;
  --tab--activeModifiedBorder: #cb4b16;
  --tab--lastPinnedBorder: #fdf6e3;
  --activityBar--background: #ddd6c1;
  --activityBar--foreground: #584c27;
  --activityBarBadge--background: #b58900;
  --panel--border: #ddd6c1;
  --sideBar--background: #eee8d5;
  --sideBarTitle--foreground: #586e75;
  --statusBar--foreground: #586e75;
  --statusBar--background: #eee8d5;
  --statusBar--debuggingBackground: #eee8d5;
  --statusBar--noFolderBackground: #eee8d5;
  --statusBarItem--remoteBackground: #ac9d57;
  --ports--iconRunningProcessForeground: #2aa19899;
  --statusBarItem--prominentBackground: #ddd6c1;
  --statusBarItem--prominentHoverBackground: #ddd6c199;
  --debugToolBar--background: #ddd6c1;
  --debugExceptionWidget--background: #ddd6c1;
  --debugExceptionWidget--border: #ab395b;
  --pickerGroup--border: #2aa19899;
  --pickerGroup--foreground: #2aa19899;
  --extensionButton--prominentBackground: #b58900;
  --extensionButton--prominentHoverBackground: #584c27aa;
  --terminal--ansiBlack: #073642;
  --terminal--ansiRed: #dc322f;
  --terminal--ansiGreen: #859900;
  --terminal--ansiYellow: #b58900;
  --terminal--ansiBlue: #268bd2;
  --terminal--ansiMagenta: #d33682;
  --terminal--ansiCyan: #2aa198;
  --terminal--ansiWhite: #eee8d5;
  --terminal--ansiBrightBlack: #002b36;
  --terminal--ansiBrightRed: #cb4b16;
  --terminal--ansiBrightGreen: #586e75;
  --terminal--ansiBrightYellow: #657b83;
  --terminal--ansiBrightBlue: #839496;
  --terminal--ansiBrightMagenta: #6c71c4;
  --terminal--ansiBrightCyan: #93a1a1;
  --terminal--ansiBrightWhite: #fdf6e3;
  --walkThrough--embeddedEditorBackground: #00000014;
}
