:root {
  --vscode-focusBorder: #d3af86;
  --vscode-input-background: #ddd6c1;
  --vscode-input-foreground: #586e75;
  --vscode-input-placeholderForeground: #586e75aa;
  --vscode-inputOption-activeBorder: #d3af86;
  --vscode-badge-background: #b58900aa;
  --vscode-progressBar-background: #b58900;
  --vscode-dropdown-background: #eee8d5;
  --vscode-dropdown-border: #d3af86;
  --vscode-button-background: #ac9d57;
  --vscode-selection-background: #878b9180;
  --vscode-list-activeSelectionBackground: #dfca88;
  --vscode-list-activeSelectionForeground: #6c6c6c;
  --vscode-quickInputList-focusBackground: #dfca8866;
  --vscode-list-hoverBackground: #dfca8844;
  --vscode-list-inactiveSelectionBackground: #d1cbb8;
  --vscode-list-highlightForeground: #b58900;
  --vscode-editor-background: #fdf6e3;
  --vscode-editor-foreground: #657b83;
  --vscode-notebook-cellEditorBackground: #f7f0e0;
  --vscode-editorWidget-background: #eee8d5;
  --vscode-editorCursor-foreground: #657b83;
  --vscode-editorWhitespace-foreground: #586e7580;
  --vscode-editor-lineHighlightBackground: #eee8d5;
  --vscode-editor-selectionBackground: #eee8d5;
  --vscode-minimap-selectionHighlight: #eee8d5;
  --vscode-editorIndentGuide-background: #586e7580;
  --vscode-editorIndentGuide-activeBackground: #081e2580;
  --vscode-editorHoverWidget-background: #ccc4b0;
  --vscode-editorLineNumber-activeForeground: #567983;
  --vscode-peekViewResult-background: #eee8d5;
  --vscode-peekViewEditor-background: #fffbf2;
  --vscode-peekViewTitle-background: #eee8d5;
  --vscode-peekView-border: #b58900;
  --vscode-peekViewEditor-matchHighlightBackground: #7744aa40;
  --vscode-titleBar-activeBackground: #eee8d5;
  --vscode-editorGroup-border: #ddd6c1;
  --vscode-editorGroup-dropBackground: #ddd6c1aa;
  --vscode-editorGroupHeader-tabsBackground: #d9d2c2;
  --vscode-tab-border: #ddd6c1;
  --vscode-tab-activeBackground: #fdf6e3;
  --vscode-tab-inactiveForeground: #586e75;
  --vscode-tab-inactiveBackground: #d3cbb7;
  --vscode-tab-activeModifiedBorder: #cb4b16;
  --vscode-tab-lastPinnedBorder: #fdf6e3;
  --vscode-activityBar-background: #ddd6c1;
  --vscode-activityBar-foreground: #584c27;
  --vscode-activityBarBadge-background: #b58900;
  --vscode-panel-border: #ddd6c1;
  --vscode-sideBar-background: #eee8d5;
  --vscode-sideBarTitle-foreground: #586e75;
  --vscode-statusBar-foreground: #586e75;
  --vscode-statusBar-background: #eee8d5;
  --vscode-statusBar-debuggingBackground: #eee8d5;
  --vscode-statusBar-noFolderBackground: #eee8d5;
  --vscode-statusBarItem-remoteBackground: #ac9d57;
  --vscode-ports-iconRunningProcessForeground: #2aa19899;
  --vscode-statusBarItem-prominentBackground: #ddd6c1;
  --vscode-statusBarItem-prominentHoverBackground: #ddd6c199;
  --vscode-debugToolBar-background: #ddd6c1;
  --vscode-debugExceptionWidget-background: #ddd6c1;
  --vscode-debugExceptionWidget-border: #ab395b;
  --vscode-pickerGroup-border: #2aa19899;
  --vscode-pickerGroup-foreground: #2aa19899;
  --vscode-extensionButton-prominentBackground: #b58900;
  --vscode-extensionButton-prominentHoverBackground: #584c27aa;
  --vscode-terminal-ansiBlack: #073642;
  --vscode-terminal-ansiRed: #dc322f;
  --vscode-terminal-ansiGreen: #859900;
  --vscode-terminal-ansiYellow: #b58900;
  --vscode-terminal-ansiBlue: #268bd2;
  --vscode-terminal-ansiMagenta: #d33682;
  --vscode-terminal-ansiCyan: #2aa198;
  --vscode-terminal-ansiWhite: #eee8d5;
  --vscode-terminal-ansiBrightBlack: #002b36;
  --vscode-terminal-ansiBrightRed: #cb4b16;
  --vscode-terminal-ansiBrightGreen: #586e75;
  --vscode-terminal-ansiBrightYellow: #657b83;
  --vscode-terminal-ansiBrightBlue: #839496;
  --vscode-terminal-ansiBrightMagenta: #6c71c4;
  --vscode-terminal-ansiBrightCyan: #93a1a1;
  --vscode-terminal-ansiBrightWhite: #fdf6e3;
  --vscode-walkThrough-embeddedEditorBackground: #00000014;
}
