:root {
  --vscode-focusBorder: #2aa19899;
  --vscode-selection-background: #2aa19899;
  --vscode-input-background: #003847;
  --vscode-input-foreground: #93a1a1;
  --vscode-input-placeholderForeground: #93a1a1aa;
  --vscode-inputOption-activeBorder: #2aa19899;
  --vscode-inputValidation-infoBorder: #363b5f;
  --vscode-inputValidation-infoBackground: #052730;
  --vscode-inputValidation-warningBackground: #5d5938;
  --vscode-inputValidation-warningBorder: #9d8a5e;
  --vscode-inputValidation-errorBackground: #571b26;
  --vscode-inputValidation-errorBorder: #a92049;
  --vscode-errorForeground: #ffeaea;
  --vscode-badge-background: #047aa6;
  --vscode-progressBar-background: #047aa6;
  --vscode-dropdown-background: #00212b;
  --vscode-dropdown-border: #2aa19899;
  --vscode-button-background: #2aa19899;
  --vscode-list-activeSelectionBackground: #005a6f;
  --vscode-quickInputList-focusBackground: #005a6f;
  --vscode-list-hoverBackground: #004454aa;
  --vscode-list-inactiveSelectionBackground: #00445488;
  --vscode-list-dropBackground: #00445488;
  --vscode-list-highlightForeground: #1ebcc5;
  --vscode-editor-background: #002b36;
  --vscode-editor-foreground: #839496;
  --vscode-editorWidget-background: #00212b;
  --vscode-editorCursor-foreground: #d30102;
  --vscode-editorWhitespace-foreground: #93a1a180;
  --vscode-editor-lineHighlightBackground: #073642;
  --vscode-editorLineNumber-activeForeground: #949494;
  --vscode-editor-selectionBackground: #274642;
  --vscode-minimap-selectionHighlight: #274642;
  --vscode-editorIndentGuide-background: #93a1a180;
  --vscode-editorIndentGuide-activeBackground: #c3e1e180;
  --vscode-editorHoverWidget-background: #004052;
  --vscode-editorMarkerNavigationError-background: #ab395b;
  --vscode-editorMarkerNavigationWarning-background: #5b7e7a;
  --vscode-editor-selectionHighlightBackground: #005a6faa;
  --vscode-editor-wordHighlightBackground: #004454aa;
  --vscode-editor-wordHighlightStrongBackground: #005a6faa;
  --vscode-editorBracketHighlight-foreground1: #cdcdcdff;
  --vscode-editorBracketHighlight-foreground2: #b58900ff;
  --vscode-editorBracketHighlight-foreground3: #d33682ff;
  --vscode-peekViewResult-background: #00212b;
  --vscode-peekViewEditor-background: #10192c;
  --vscode-peekViewTitle-background: #00212b;
  --vscode-peekView-border: #2b2b4a;
  --vscode-peekViewEditor-matchHighlightBackground: #7744aa40;
  --vscode-titleBar-activeBackground: #002c39;
  --vscode-editorGroup-border: #00212b;
  --vscode-editorGroup-dropBackground: #2aa19844;
  --vscode-editorGroupHeader-tabsBackground: #004052;
  --vscode-tab-activeForeground: #d6dbdb;
  --vscode-tab-activeBackground: #002b37;
  --vscode-tab-inactiveForeground: #93a1a1;
  --vscode-tab-inactiveBackground: #004052;
  --vscode-tab-border: #003847;
  --vscode-tab-lastPinnedBorder: #2aa19844;
  --vscode-activityBar-background: #003847;
  --vscode-panel-border: #2b2b4a;
  --vscode-sideBar-background: #00212b;
  --vscode-sideBarTitle-foreground: #93a1a1;
  --vscode-statusBar-foreground: #93a1a1;
  --vscode-statusBar-background: #00212b;
  --vscode-statusBar-debuggingBackground: #00212b;
  --vscode-statusBar-noFolderBackground: #00212b;
  --vscode-statusBarItem-remoteBackground: #2aa19899;
  --vscode-ports-iconRunningProcessForeground: #369432;
  --vscode-statusBarItem-prominentBackground: #003847;
  --vscode-statusBarItem-prominentHoverBackground: #003847;
  --vscode-debugToolBar-background: #00212b;
  --vscode-debugExceptionWidget-background: #00212b;
  --vscode-debugExceptionWidget-border: #ab395b;
  --vscode-pickerGroup-foreground: #2aa19899;
  --vscode-pickerGroup-border: #2aa19899;
  --vscode-terminal-ansiBlack: #073642;
  --vscode-terminal-ansiRed: #dc322f;
  --vscode-terminal-ansiGreen: #859900;
  --vscode-terminal-ansiYellow: #b58900;
  --vscode-terminal-ansiBlue: #268bd2;
  --vscode-terminal-ansiMagenta: #d33682;
  --vscode-terminal-ansiCyan: #2aa198;
  --vscode-terminal-ansiWhite: #eee8d5;
  --vscode-terminal-ansiBrightBlack: #002b36;
  --vscode-terminal-ansiBrightRed: #cb4b16;
  --vscode-terminal-ansiBrightGreen: #586e75;
  --vscode-terminal-ansiBrightYellow: #657b83;
  --vscode-terminal-ansiBrightBlue: #839496;
  --vscode-terminal-ansiBrightMagenta: #6c71c4;
  --vscode-terminal-ansiBrightCyan: #93a1a1;
  --vscode-terminal-ansiBrightWhite: #fdf6e3;
}
